*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  /* Centrado con flexbox */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  text-align: center;
  padding: 0 1rem;
  /* Centrado con grid */
  display: grid;
  place-items: center;
  place-content: center;
}
